<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Home page</title>
    <link rel="stylesheet" href="css/estilo.css" type="text/css" />
  </head>
  <body>
    <nav>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/tecnologia">Tecnologia</a>
      </li>
      <li>
        <a href="/cadastro">Cadastro de Clientes</a>
      </li>
      <li>
        <a href="/alteracao">Altera Clientes</a>
      </li>

      <li>
        <a href="/lista_clientes">Lista de Clientes</a>
      </li>
    </nav>
    <main>
      <article>
        <header>
          <h1 id="titulo">Instituição</h1>
        </header>
        <div id="container">
          <section>
            <header>
              <h2 class="subtitulo">Desenvolvimento</h2>
            </header>
            <p>
              Somos uma empresa de Tecnologia de Informação e desenvolvemos
              produtos (aplicações web) para estabelecimentos comerciais e
              empresas
            </p>
          </section>
          <section>
            <header>
              <h2 class="subtitulo">Hospedagem</h2>
            </header>
            <p>
              Temos um servidor nos Estados Unidos com alta performance e
              garantimos proteção dos dados da sua empresa
            </p>
          </section>
        </div>
      </article>
    </main>
  </body>
</html>
