<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Tecnologia</title>
    <link rel="stylesheet" href="css/estilo.css" type="text/css" />
  </head>
  <body>
    <nav>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/tecnologia">Tecnologia</a>
      </li>
      <li>
        <a href="/cadastro">Cadastro de Clientes</a>
      </li>
      <li>
        <a href="/alteracao">Altera Clientes</a>
      </li>

      <li>
        <a href="/lista_clientes">Lista de Clientes</a>
      </li>
    </nav>
    <main>
      <article>
        <header>
          <h1 id="titulo">Tecnologia da Informação</h1>
        </header>
        <section>
          <p>
            Esta é a melhor área para o mercado atualmente. Se liga neste site
            denomidado
            <a href="http://www.w3schools.com">w3schools</a>. Tô ligado que você
            não vai se arrepender
          </p>
        </section>
      </article>
    </main>
  </body>
</html>
